<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="Opções de Busca">
        <setting id="search_type" type="enum" label="Tipo de Busca" default="title">
            <option label="Título" value="title"/>
            <option label="Gênero" value="genre"/>
            <option label="Ano" value="year"/>
        </setting>
    </category>
    <category label="Opções de Exibição">
        <setting id="media_per_page" type="number" label="Mídias por Página" default="10" min="1" max="50" step="1"/>
    </category>
</settings>
